############################
# Java / JVM
############################
*.class
*.log
hs_err_pid*
replay_pid*

############################
# Maven
############################
HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/wrapper/maven-wrapper.jar

############################
# Gradle
############################
/build/
.gradle/
!**/src/main/**/build/
!**/src/test/**/build/

############################
# IDEs
############################
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Spring Boot Config
############################
application-local.yml
application-dev.yml
application-prod.yml
application-*.yml

############################
# Environment & Secrets
############################
.env
secrets/
*.pem
*.key
*.crt
*.p12
*.jks

############################
# Docker
############################
**/docker-compose.override.yml

############################
# Logs & runtime data
############################
logs/
tmp/
