spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:postgresql://localhost:5432/auth_test
    username: test_user
    password: test_password

  jpa:
    hibernate:
      ddl-auto: create-drop
