name: CI

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Verify build
        run: ./mvnw clean verify
